<html><head><title>/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.err.html errors</title>
<meta charset="UTF-8"/>
<style> pre { white-space: pre-wrap; }
thead th { font-weight: bold; background-color: aqua; }
.severity0 { font-weight: bold; background-color: lightpink }
.severity1 { font-weight: bold; }
.severity2 { }
.severity3 { font-style: italic; color: grey; }
</style>
</head><body><h1>/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.err.html errors</h1>
<ul><li><p><b><a href="#Document_Attributes">Document Attributes</a></b>: Severity 2: <b>2</b> errors</p></li>

<li><p><b><a href="#AsciiDoc_Input">AsciiDoc Input</a></b>: Severity 1: <b>1</b> errors</p></li>

<li><p><b><a href="#Relaton">Relaton</a></b>: Severity 3: <b>19</b> errors</p></li>

<li><p><b><a href="#Anchors">Anchors</a></b>: Severity 1: <b>11</b> errors</p></li>

<li><p><b><a href="#Style">Style</a></b>: Severity 2: <b>21</b> errors</p></li>

<li><p><b><a href="#Requirements">Requirements</a></b>: Severity 2: <b>4</b> errors</p></li>

<li><p><b><a href="#Metanorma_XML_Syntax">Metanorma XML Syntax</a></b>: Severity 2: <b>54</b> errors</p></li>
</ul>
<h2 id="Document_Attributes">Document Attributes</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>--</code></th>
<td>'Format' is not a permitted subtype of Standard:​ reverting to 'implementation'</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>--</code></th>
<td>draft is not an allowed status for standard</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
<h2 id="AsciiDoc_Input">AsciiDoc Input</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity1">
<td></td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#Bibliography'>Bibliography</a></code></th>
<td>no anchor on reference, markup may be malformed: see
https://www.metanorma.org/author/topics/sections/bibliography/ ,
https://www.metanorma.org/author/iso/topics/markup/#bibliographies
: For citations in the text please use square brackets and consecutive numbers: [1], [2], [3]</td><td><pre>#&lt;Asciidoctor::List@9020 {context: :ulist, style: nil, items: 1}&gt;</pre></td><td>1</td></tr>
</tbody></table>
<h2 id="Relaton">Relaton</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity3">
<td></td><th><code>--</code></th>
<td>Downloaded index from <code>https://​raw.​githubusercontent.com/​relaton/​relaton-data-ogc/main/​index-v1.zip</code></td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>CF Metadata Conventions</code></th>
<td><code>CF Metadata Conventions</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>CF Metadata Conventions</code></th>
<td><code>CF Metadata Conventions</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>GDAL – Geospatial Data Abstraction Library</code></th>
<td><code>GDAL – Geospatial Data Abstraction Library</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>GDAL – Geospatial Data Abstraction Library</code></th>
<td><code>GDAL – Geospatial Data Abstraction Library</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>NetCDF Classic Format</code></th>
<td><code>NetCDF Classic Format</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>NetCDF Classic Format</code></th>
<td><code>NetCDF Classic Format</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGC Compliance Testing Policies and Procedures</code></th>
<td>Not found.</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGC Two Dimensional Tile Matrix Set</code></th>
<td>Not found.</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGCTB12</code></th>
<td><code>OGCTB12</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGCTB12</code></th>
<td><code>OGCTB12</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Spatio­Temporal Asset Catalog (STAC) Specification</code></th>
<td><code>Spatio­Temporal Asset Catalog (STAC) Specification</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Spatio­Temporal Asset Catalog (STAC) Specification</code></th>
<td><code>Spatio­Temporal Asset Catalog (STAC) Specification</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Unidata Common Data Model</code></th>
<td><code>Unidata Common Data Model</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Unidata Common Data Model</code></th>
<td><code>Unidata Common Data Model</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v2</code></th>
<td><code>Zarr Specification v2</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v2</code></th>
<td><code>Zarr Specification v2</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v3</code></th>
<td><code>Zarr Specification v3</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v3</code></th>
<td><code>Zarr Specification v3</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
</tbody></table>
<h2 id="Anchors">Anchors</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity1">
<td></td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_4cc32aa9-b795-4e0f-a669-dd2f4119767a'>_4cc32aa9-b795-4e0f-a669-dd2f4119767a</a></code></th>
<td>Anchor ats_core_​api-definition-success pointed to by fmt-xref is not defined in the document</td><td><pre>&lt;fmt-xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;ats_core_api-definition-success&quot;&gt;/conf/core/api-definition-success&lt;/fmt-xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td></td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_80ac2f1c-4a41-ded9-6918-3a45d3b601ea'>_80ac2f1c-4a41-ded9-6918-3a45d3b601ea</a></code></th>
<td>Anchor variable-group pointed to by fmt-xref is not defined in the document</td><td><pre>&lt;fmt-xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;variable-group&quot;&gt;variable group&lt;/fmt-xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td></td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_d7843a19-2eb9-4d11-a83e-50fe06cc4542'>_d7843a19-2eb9-4d11-a83e-50fe06cc4542</a></code></th>
<td>Anchor rfc2818 pointed to by fmt-xref is not defined in the document</td><td><pre>&lt;fmt-xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;rfc2818&quot;&gt;HTTP over TLS&lt;/fmt-xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>000002</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_cd87162e-895a-4735-8b86-ecd34fc47c89'>_cd87162e-895a-4735-8b86-ecd34fc47c89</a></code></th>
<td>Anchor rfc2818 pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;rfc2818&quot; id=&quot;_cd87162e-895a-4735-8b86-ecd34fc47c89&quot;&gt;HTTP over TLS&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>000003</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_e415fbfa-e040-47ca-a5d3-79fd196553c5'>_e415fbfa-e040-47ca-a5d3-79fd196553c5</a></code></th>
<td>Anchor ats_core_​api-definition-success pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;ats_core_api-definition-success&quot; id=&quot;_e415fbfa-e040-47ca-a5d3-79fd196553c5&quot;&gt;/conf/core/api-definition-success&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>000595</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_12626e9e-321a-455a-a461-fe851c01fc26'>_12626e9e-321a-455a-a461-fe851c01fc26</a></code></th>
<td>Anchor variable-group pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;variable-group&quot; id=&quot;_12626e9e-321a-455a-a461-fe851c01fc26&quot;&gt;variable group&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>000595</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_80ac2f1c-4a41-ded9-6918-3a45d3b601ea'>_80ac2f1c-4a41-ded9-6918-3a45d3b601ea</a></code></th>
<td>Crossreference target variable-group is undefined</td><td><pre>&lt;xref target=&quot;variable-group&quot;&gt;
  &lt;display-text&gt;variable group&lt;/display-text&gt;
&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001237</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0c23ab06-7d02-b1c3-e232-9031a1021f78'>_0c23ab06-7d02-b1c3-e232-9031a1021f78</a></code></th>
<td>Anchor ats_core_​api-definition-success pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;ats_core_api-definition-success&quot;&gt;/conf/core/api-definition-success&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001237</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0c23ab06-7d02-b1c3-e232-9031a1021f78'>_0c23ab06-7d02-b1c3-e232-9031a1021f78</a></code></th>
<td>Crossreference target ats_core_​api-definition-success is undefined</td><td><pre>&lt;xref target=&quot;ats_core_api-definition-success&quot;&gt;
  &lt;display-text&gt;/conf/core/api-definition-success&lt;/display-text&gt;
&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001248</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_de80a2e2-d71b-df3b-4fc2-d74539ec8410'>_de80a2e2-d71b-df3b-4fc2-d74539ec8410</a></code></th>
<td>Anchor rfc2818 pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;rfc2818&quot;&gt;HTTP over TLS&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001248</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_de80a2e2-d71b-df3b-4fc2-d74539ec8410'>_de80a2e2-d71b-df3b-4fc2-d74539ec8410</a></code></th>
<td>Crossreference target rfc2818 is undefined</td><td><pre>&lt;xref target=&quot;rfc2818&quot;&gt;
  &lt;display-text&gt;HTTP over TLS&lt;/display-text&gt;
&lt;/xref&gt;</pre></td><td>1</td></tr>
</tbody></table>
<h2 id="Style">Style</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td>000282</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0b31a2f8-71f8-4baf-fbfe-7cd1554ea528'>_0b31a2f8-71f8-4baf-fbfe-7cd1554ea528</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_0b31a2f8-71f8-4baf-fbfe-7cd1554ea528&quot; obligation=&quot;normative&quot;&gt;
&lt;title id=&quot;_f9d680fa-eb91-8fb3-1391-c5e4a3bdb0cd&quot;&gt;Conventions&lt;/title&gt;
&lt;p id=&quot;_22173e5b-b415-9245-b5a0-658bca9d4ac4&quot;&gt;This section describes the conventions used throughout this Standard, including identifiers, metadata schemas, and referencing mechanisms relevant to the GeoZarr Unified Data Model.&lt;/p&gt;

&lt;clause id=&quot;_32982728-c7e8-b7e6-5d7e-fdd8b6a77ec4&quot; obligation=&quot;normative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000325</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#overview'>overview</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_99a47301-1cc2-39d6-a1c2-48068bdb72b5&quot; anchor=&quot;overview&quot; obligation=&quot;normative&quot;&gt;
&lt;title id=&quot;_6e683f7b-dd63-b6db-bc8e-1f01ba441e1d&quot;&gt;Overview&lt;/title&gt;
&lt;p id=&quot;_c8826110-d9b8-e9dd-8e36-b9fb594d83a1&quot;&gt;The GeoZarr Unified Data Model and Encoding Standard defines a conceptual and implementation framework for representing multidimensional geospatial data using the Zarr format. Developed under the guidance of the OGC GeoZarr Standards Working Group (SWG), the Standard establishes conventions for encoding scientific and Earth observation datasets in a way that promotes scalability, interoperability, and compatibility with cloud-native infrastructure.&lt;/p&gt;

&lt;p id=&quot;_efd90afc-8857-0882-0e90-6a2077accbe9&quot;&gt;GeoZarr is built on widely adopted community standards, including the Unidata Common Data Model (CDM) and Climate and Forecast (CF) Conventions. It introduces additional extensions and structural constructs to support multi-resolution tiling, geospatial referencing, and catalogue-enabled metadata integration (e.g., STAC).&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000392</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_732ce28c-6353-3fa4-9bca-48f64552c6a4'>_732ce28c-6353-3fa4-9bca-48f64552c6a4</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_732ce28c-6353-3fa4-9bca-48f64552c6a4&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_520790a1-48ae-da5e-8824-c455fa04c2d9&quot;&gt;Foundational Model and Standards Reuse&lt;/title&gt;
&lt;p id=&quot;_0052e4f1-2435-fa63-6c71-19ee1735834c&quot;&gt;The unified data model described in this Standard is derived from established community specifications to maximise interoperability and to enable the reuse of mature tools and practices. The model is grounded in the Unidata Common Data Model (CDM) and the Climate and Forecast (CF) Conventions, which together provide a robust framework for representing scientific and geospatial datasets.&lt;/p&gt;

&lt;clause id=&quot;_e3e95b28-f4ec-5e25-dab5-dc73b42a8327&quot; obligation=&quot;=informative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000448</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_b63955f2-5f53-334d-b4ce-b65de81b99f0'>_b63955f2-5f53-334d-b4ce-b65de81b99f0</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_b63955f2-5f53-334d-b4ce-b65de81b99f0&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_38dd915a-7e1d-d90e-4812-3d2329d5d59c&quot;&gt;Model Extension Points&lt;/title&gt;
&lt;p id=&quot;_bcf3633d-b132-be80-9f83-b73ab22ba77e&quot;&gt;The unified data model specifies a series of optional, standards-aligned extension points to support functionality beyond the base CDM and CF constructs. These extensions enhance applicability to Earth observation and spatial analysis use cases without imposing additional mandatory requirements.&lt;/p&gt;

&lt;p id=&quot;_616ac5f3-3eda-b41b-d3fd-e786da6e968e&quot;&gt;Each extension is defined as an independent module. Implementation of any given extension does not necessitate support for others.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000505</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_ba21aba1-fb11-37b5-59b7-f51302754692'>_ba21aba1-fb11-37b5-59b7-f51302754692</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_ba21aba1-fb11-37b5-59b7-f51302754692&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_0b10ea11-384f-0c7d-46b5-8805f28e7db6&quot;&gt;Unified Model Structure&lt;/title&gt;
&lt;p id=&quot;_81136920-715d-7323-5ebf-6d6a8770f8e9&quot;&gt;This clause defines the structural organisation of datasets conforming to the unified data model (UDM). It consolidates the foundational elements and optional extensions into a coherent architecture suitable for Zarr encoding, while remaining format-agnostic. The model establishes a modular and extensible framework that supports structured representation of multidimensional, geospatially-referenced resources.&lt;/p&gt;

&lt;p id=&quot;_6056bc82-19b1-b937-4410-d41743363980&quot;&gt;The model represents datasets as abstract compositions of dimensions, coordinate variables, data variables, and associated metadata. This abstraction ensures that applications and services can reason about the content and semantics of a dataset without reliance on storage layout or specific serialisation.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000619</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_9024c68e-966c-acca-6fad-2d0ca45a712a'>_9024c68e-966c-acca-6fad-2d0ca45a712a</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_9024c68e-966c-acca-6fad-2d0ca45a712a&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;25%&quot;/&gt; &lt;col width=&quot;75%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_f48aa152-8a99-7d9c-6c71-7a57fe4fc34d&quot;&gt; &lt;th id=&quot;_9bc30510-94c0-6ca0-6789-e8ea592a438d&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Element&lt;/th&gt;
&lt;th id=&quot;_c68741b2-7cf7-c285-98f4-532fc093dc70&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Definition&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_a82e90d0-0619-d684-41d0-aee03283e678&quot;&gt; &lt;td id=&quot;_d5794bad-f8ff-5659-721b-f8b2894642a6&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;tt&gt;OverviewSet&lt;/tt&gt; &lt;/td&gt;
&lt;td id=&quot;_75094fd5-385f-36bd-9220-10cdb4f05ae2&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;A &lt;strong&gt;group&lt;/strong&gt; composed of multiple &lt;strong&gt;OverviewLevels&lt;/strong&gt;, each containing equivalent variables defined over the same coordinate system and dimensions but sampled at different spatial resolutions. The &lt;strong&gt;OverviewSet&lt;/strong&gt; defines the complete multiscale hierarchy.&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000639</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_e52dde7e-a233-1532-1e1c-8499c4befb01'>_e52dde7e-a233-1532-1e1c-8499c4befb01</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_e52dde7e-a233-1532-1e1c-8499c4befb01&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_458e2695-0b5b-6b20-d7d9-4ba76fb3eac9&quot;&gt;Structural Layout&lt;/title&gt;
&lt;p id=&quot;_377eb674-1aae-ac01-f590-dfecb300c03d&quot;&gt;The &lt;strong&gt;Overviews&lt;/strong&gt; construct is expressed within the Common Data Model (CDM) framework, which represents datasets through &lt;strong&gt;groups&lt;/strong&gt;, &lt;strong&gt;variables&lt;/strong&gt;, and &lt;strong&gt;attributes&lt;/strong&gt;.&lt;/p&gt;

&lt;p id=&quot;_450ac2bf-b216-5b8c-7d9f-ea9efa649847&quot;&gt;An &lt;strong&gt;OverviewSet&lt;/strong&gt; corresponds to a CDM &lt;strong&gt;group&lt;/strong&gt; containing multiple &lt;strong&gt;OverviewLevels&lt;/strong&gt;, each representing the same data variables at different spatial resolutions.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000697</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_53074a22-dd9f-a596-a874-0064ebcaaff2'>_53074a22-dd9f-a596-a874-0064ebcaaff2</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_53074a22-dd9f-a596-a874-0064ebcaaff2&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_aaac6de9-4d97-4160-9ac8-9f88c47ae5b8&quot;&gt;OverviewSet Metadata&lt;/title&gt;
&lt;p id=&quot;_47c80bdd-99fe-f4ec-a3d8-5ebf74bc59c3&quot;&gt;The &lt;tt&gt;multiscales&lt;/tt&gt; property is an attribute of the &lt;strong&gt;OverviewSet&lt;/strong&gt; group that formally defines the organisation of the multiscale hierarchy. It provides a structured description of all overview levels, their ordering, and the resampling or aggregation relationships between them.&lt;/p&gt;

&lt;p id=&quot;_d6be3c0d-936b-fcd0-6774-1aa0beef5c1c&quot;&gt;The property SHALL be encoded as a structured object formally defined as a JSON Schema available at: &lt;link target=&quot;../schemas/multiscales.schema.json&quot;&gt;Multiscales JSON Schema&lt;/link&gt; &lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000707</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_b8089146-d836-e3eb-e646-f85f3662e2dd'>_b8089146-d836-e3eb-e646-f85f3662e2dd</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_b8089146-d836-e3eb-e646-f85f3662e2dd&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;25%&quot;/&gt; &lt;col width=&quot;75%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_7e7e19b8-0f7e-4c9a-7e65-4851890ffda4&quot;&gt; &lt;th id=&quot;_89ce6a19-e01d-1735-3e98-c134ec33e018&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Field&lt;/th&gt;
&lt;th id=&quot;_f4152357-0ca7-11b6-69b9-230abe5b9b2f&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Definition&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_b1d3844b-fcd4-96d1-92c1-42ce3b05aa21&quot;&gt; &lt;td id=&quot;_5f44d2db-7897-b14e-5626-c121ba40fcf2&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;tt&gt;version&lt;/tt&gt; &lt;/td&gt;
&lt;td id=&quot;_a7dec8a7-8727-6e63-f112-6619ead9ddf1&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;strong&gt;Type:&lt;/strong&gt; string. Version identifier of the multiscales schema. This field SHALL be present to indicate the version of the schema used. Example:  &lt;tt&gt;&quot;1.0&quot;&lt;/tt&gt; &lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000728</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_1037bf97-eb6e-1237-46d9-ba33602fd1e0'>_1037bf97-eb6e-1237-46d9-ba33602fd1e0</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_1037bf97-eb6e-1237-46d9-ba33602fd1e0&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;25%&quot;/&gt; &lt;col width=&quot;75%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_de8345b5-0e08-18e5-c8c5-c3a9b987c8f8&quot;&gt; &lt;th id=&quot;_022a982c-76e4-8d18-1564-2def4487beef&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Field&lt;/th&gt;
&lt;th id=&quot;_5ea3b62a-4514-f288-8b9e-620f22f3cf2f&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Definition&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_70898b7e-6fd3-a203-27e5-6614ddd736d2&quot;&gt; &lt;td id=&quot;_4954b92a-8858-7a5f-363c-8888797ba4d8&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;tt&gt;id&lt;/tt&gt; &lt;/td&gt;
&lt;td id=&quot;_e819f02e-26bf-09b3-1d1e-632656010769&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;strong&gt;Type:&lt;/strong&gt; string. Required unique identifier for this overview level. The identifier SHALL be stable within the dataset and MAY be used for reference in other metadata fields. Example:  &lt;tt&gt;&quot;L0&quot;&lt;/tt&gt;, &lt;tt&gt;&quot;L1&quot;&lt;/tt&gt;, &lt;tt&gt;&quot;L2&quot;&lt;/tt&gt;.&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000795</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_3fdc3ae3-a5a7-3af1-109a-0825c75b2105'>_3fdc3ae3-a5a7-3af1-109a-0825c75b2105</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_3fdc3ae3-a5a7-3af1-109a-0825c75b2105&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_e310a273-ccd4-bac5-8fdc-14e97910152a&quot;&gt;Conformance and Extensibility&lt;/title&gt;
&lt;p id=&quot;_fa7462b9-a7f5-43f4-a8db-a2306d34d95c&quot;&gt;The GeoZarr data model is designed with an open conformance approach to support a wide range of use cases and implementation contexts. Its core model is permissive, allowing partial implementations, while optional extensions and compliance profiles can define stricter requirements for interoperability.&lt;/p&gt;

&lt;clause id=&quot;_7917a194-1ed0-f205-83a3-20ac38e448e6&quot; obligation=&quot;=informative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000856</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_18b76fe7-fde3-7292-3589-11a37640c4f9'>_18b76fe7-fde3-7292-3589-11a37640c4f9</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_18b76fe7-fde3-7292-3589-11a37640c4f9&quot; obligation=&quot;=informative&quot;&gt;
&lt;title id=&quot;_f2f60ab0-b8a4-6e2f-d808-490e196a32a7&quot;&gt;Interoperability Considerations&lt;/title&gt;
&lt;p id=&quot;_c232c4f5-398d-093a-db01-d980b089d2d0&quot;&gt;Interoperability is a core objective of the GeoZarr unified data model. The model is designed to bridge diverse Earth observation and scientific data ecosystems by enabling structural and semantic compatibility with established formats and standards, while providing a forward-looking foundation for scalable, cloud-native workflows.&lt;/p&gt;

&lt;p id=&quot;_06abd905-6b37-ae2a-f4cc-1c21af420556&quot;&gt;This section outlines the principles and mechanisms supporting interoperability across formats, tools, and communities.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000929</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_94cdeff8-8b36-4d09-947d-8c93df15e0c2'>_94cdeff8-8b36-4d09-947d-8c93df15e0c2</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_94cdeff8-8b36-4d09-947d-8c93df15e0c2&quot; obligation=&quot;normative&quot;&gt;
&lt;title id=&quot;_de2dce5d-cdf9-00c2-28ae-3596b692d32b&quot;&gt;Unified Data Model Encoding for Zarr&lt;/title&gt;
&lt;p id=&quot;_6ae92f92-a957-0b55-9f02-1720942d94d6&quot;&gt;This clause defines the encoding of the unified data model into the Zarr format. The encoding supports both Zarr Version 2 and Zarr Version 3.&lt;/p&gt;

&lt;admonition id=&quot;_f58c6d70-eb31-63d5-4e8c-f51be7719936&quot; type=&quot;tip&quot;&gt; &lt;p id=&quot;_a5cfabac-4370-28b0-4343-e63fbb031f11&quot;&gt;This is a very preliminary draft. The content is primarily for demonstrating the purpose of the proposed sections.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000949</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_699b1032-b798-6cfc-a96f-10b11b009b3d'>_699b1032-b798-6cfc-a96f-10b11b009b3d</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_699b1032-b798-6cfc-a96f-10b11b009b3d&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_a3040f51-0998-3eea-fece-22334b4793e4&quot;&gt; &lt;th id=&quot;_843ed6dc-5e48-5b1a-0144-3a60f76d1892&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Model Element&lt;/th&gt;
&lt;th id=&quot;_c2f08d1d-b5c8-3442-fc35-b419f81bd47a&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2 Encoding&lt;/th&gt;
&lt;th id=&quot;_84de1b83-8585-6975-1469-5f2cc3111fa2&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3 Encoding&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_bd220343-6bb1-d48c-08a1-8c97482327e9&quot;&gt; &lt;td id=&quot;_2b83a605-9ecf-4a26-e1e9-8ecc7cc5695e&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Root Dataset&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000999</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_08e3322b-d7f8-1619-85a0-a59c3a029f65'>_08e3322b-d7f8-1619-85a0-a59c3a029f65</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_08e3322b-d7f8-1619-85a0-a59c3a029f65&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_62a11b44-4309-7a77-7c19-234f0ad316e3&quot;&gt; &lt;th id=&quot;_04b8694f-fc78-94b1-318d-e664024c000b&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Feature&lt;/th&gt;
&lt;th id=&quot;_37753d3b-65e5-c4cc-b532-fd5553d5b865&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th id=&quot;_8713f56e-d603-3160-aacc-06688101883a&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_7fda196b-b13c-0e8b-5141-c0653da621c1&quot;&gt; &lt;td id=&quot;_2228e6cc-e467-09a3-079e-24aad278e2ae&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Storage&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001042</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_ebe7d541-4f93-3694-3f4a-7a4309515c87'>_ebe7d541-4f93-3694-3f4a-7a4309515c87</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_ebe7d541-4f93-3694-3f4a-7a4309515c87&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_20b170a6-e9e2-2623-ff42-2eee92639113&quot;&gt; &lt;th id=&quot;_2c5835ef-aa43-a5b8-c53e-67e8540b4a0f&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Feature&lt;/th&gt;
&lt;th id=&quot;_5e1fd0ee-2a33-8adf-589a-24f82ee0a3f0&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th id=&quot;_6de23131-c640-062c-5ce2-8d908a817bb0&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_f0cd39d2-d463-747b-8ec8-4a7b5fc62fe1&quot;&gt; &lt;td id=&quot;_80cc5cb9-e39d-deae-3ed5-67176d82c3ca&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Storage&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001074</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44'>_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr id=&quot;_9ffc22a2-1b5d-f2c7-babe-83f26e68808a&quot;&gt; &lt;th id=&quot;_d2c56e56-fc07-ebf2-a585-ef32271953f7&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Field&lt;/th&gt;
&lt;th id=&quot;_7d074731-84b4-c141-51ea-094d869c1996&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th id=&quot;_6758767b-3990-c409-48f8-eff7d3484e9f&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr id=&quot;_304c2de6-d9f2-05f8-7df7-0d549fb44a1a&quot;&gt; &lt;td id=&quot;_b0f9681d-80c6-0a42-6791-21b71d51ce6a&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Location&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001126</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_11b5cf6c-8efa-83a5-ba9d-adf7d54d3db7'>_11b5cf6c-8efa-83a5-ba9d-adf7d54d3db7</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_11b5cf6c-8efa-83a5-ba9d-adf7d54d3db7&quot; obligation=&quot;normative&quot;&gt;
&lt;title id=&quot;_a93fa60e-9db4-c809-86e1-dd737f8f2439&quot;&gt;Encoding of Multiscale Overviews in Zarr&lt;/title&gt;
&lt;p id=&quot;_69291554-d283-4653-edcb-4c578a1455d2&quot;&gt;This clause specifies how Overviews should be encoded in Zarr-based datasets conforming to the GeoZarr data model.&lt;/p&gt;

&lt;p id=&quot;_fa28304a-a510-15eb-bc60-3918aeba2244&quot;&gt;The &lt;strong&gt;Overviews&lt;/strong&gt; construct follows the same encoding principles defined for the Common Data Model (CDM) when represented in Zarr. Because overviews are defined purely at the CDM level through groups, variables, and attributes, no Zarr-specific structural extensions are introduced.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001209</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_cb38376b-e27b-6974-7336-c14c8d65a2ab'>_cb38376b-e27b-6974-7336-c14c8d65a2ab</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;annex id=&quot;_cb38376b-e27b-6974-7336-c14c8d65a2ab&quot; obligation=&quot;informative&quot;&gt;
&lt;title id=&quot;_0ae400d0-fc5b-94a1-586c-a20b12ca10c6&quot;&gt;Conformance Class Abstract Test Suite (Normative)&lt;/title&gt;
&lt;note id=&quot;_63e4b0a0-3d94-7020-361f-fcac21929de5&quot;&gt; &lt;p id=&quot;_e3b4abfb-677c-1601-a95d-8eb60217c3f8&quot;&gt;Ensure that there is a conformance class for each requirements class and a test for each requirement (identified by requirement name and number)&lt;/p&gt;
&lt;/note&gt;
</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001214</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_08d5ba60-09f1-08dd-12e7-700db4a2e07f'>_08d5ba60-09f1-08dd-12e7-700db4a2e07f</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_08d5ba60-09f1-08dd-12e7-700db4a2e07f&quot; obligation=&quot;informative&quot;&gt;
&lt;title id=&quot;_e687ec7b-c3e0-9926-7832-77ede3a8f561&quot;&gt;Conformance Class A&lt;/title&gt;
&lt;example id=&quot;_108390af-fed0-ce37-1d3e-78891c6e4fe9&quot; anchor=&quot;ats_example1&quot;&gt; &lt;dl id=&quot;_fa108c24-174e-27a5-3e43-bc68770851c7&quot; metadata=&quot;true&quot;&gt; &lt;dt&gt;label&lt;/dt&gt;
&lt;dd id=&quot;_b8623bba-d048-7e51-9a5d-34f1c770254e&quot;&gt; &lt;p id=&quot;_a09ba113-0a5c-5368-7189-ce71d132fd24&quot;&gt; &lt;link target=&quot;http://www.opengis.net/spec/name-of-standard/1.0/conf/example1&quot;/&gt; &lt;/p&gt;
&lt;/dd&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001258</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0faf00c7-cf79-9959-f614-3126c05f4ab8'>_0faf00c7-cf79-9959-f614-3126c05f4ab8</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_0faf00c7-cf79-9959-f614-3126c05f4ab8&quot; width=&quot;90%&quot;&gt; &lt;thead&gt; &lt;tr id=&quot;_e295cf8c-417f-e642-0ce4-352e31c0fd8b&quot;&gt; &lt;th id=&quot;_b397afae-a25e-891b-937d-99c586497283&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Date&lt;/th&gt;
&lt;th id=&quot;_a2be7e6d-6c81-6c99-49f8-9468a61cc83f&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Release&lt;/th&gt;
&lt;th id=&quot;_ed09d515-b1bd-9270-5101-c21a1efd1b63&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Editor&lt;/th&gt;
&lt;th id=&quot;_079fad58-5f9f-ec34-341e-de9728c62afb&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Primary clauses modified&lt;/th&gt;
&lt;th id=&quot;_5c52afcc-715d-b89f-e3d6-df82c28edaa5&quot; valign=&quot;middle&quot; align=&quot;left&quot;&gt;Description&lt;/th&gt;</pre></td><td>2</td></tr>
</tbody></table>
<h2 id="Requirements">Requirements</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td>001230</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_api-definition-op'>ats_core_​api-definition-op</a></code></th>
<td>Conformance test ats_core_​api-definition-op has no corresponding Conformance class
</td><td><pre>&lt;requirement id=&quot;_f5381537-6e65-df79-1854-e61c65c4a5be&quot; anchor=&quot;ats_core_api-definition-op&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-1&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/api-definition-op&lt;/value&gt; &lt;/classification&gt; &lt;component id=&quot;_df4a358d-6620-9e54-29e1-2de1df142367&quot; class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_79add0f5-5973-1075-d8a2-b8851cb3d597&quot;&gt;Validate that the API Definition document can be retrieved from the expected location.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_2fc764d4-9e20-d745-b518-641c4591a7c1&quot;&gt;Construct a path for the API Definition document that ends with &lt;tt&gt;/api&lt;/tt&gt;.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001230</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_api-definition-op'>ats_core_​api-definition-op</a></code></th>
<td>Conformance test ats_core_​api-definition-op has no corresponding Requirement
</td><td><pre>&lt;requirement id=&quot;_f5381537-6e65-df79-1854-e61c65c4a5be&quot; anchor=&quot;ats_core_api-definition-op&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-1&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/api-definition-op&lt;/value&gt; &lt;/classification&gt; &lt;component id=&quot;_df4a358d-6620-9e54-29e1-2de1df142367&quot; class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_79add0f5-5973-1075-d8a2-b8851cb3d597&quot;&gt;Validate that the API Definition document can be retrieved from the expected location.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_2fc764d4-9e20-d745-b518-641c4591a7c1&quot;&gt;Construct a path for the API Definition document that ends with &lt;tt&gt;/api&lt;/tt&gt;.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001243</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_http'>ats_core_​http</a></code></th>
<td>Conformance test ats_core_​http has no corresponding Conformance class
</td><td><pre>&lt;requirement id=&quot;_82f91515-34df-31e1-c477-c5695fb2c1e4&quot; anchor=&quot;ats_core_http&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-2&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/http&lt;/value&gt; &lt;/classification&gt; &lt;component id=&quot;_75e6681c-8759-7d88-5a6e-fd3924459723&quot; class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_d8c68c9c-a138-50a6-08e1-d7f10bbdfeba&quot;&gt;Validate that the resource paths advertised through the API conform with HTTP 1.1 and, where appropriate, TLS.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_e0bebb2d-a7e6-accb-36a4-09d1fdcfaed9&quot;&gt;All compliance tests SHALL be configured to use the HTTP 1.1 protocol exclusively.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001243</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_http'>ats_core_​http</a></code></th>
<td>Conformance test ats_core_​http has no corresponding Requirement
</td><td><pre>&lt;requirement id=&quot;_82f91515-34df-31e1-c477-c5695fb2c1e4&quot; anchor=&quot;ats_core_http&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-2&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/http&lt;/value&gt; &lt;/classification&gt; &lt;component id=&quot;_75e6681c-8759-7d88-5a6e-fd3924459723&quot; class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_d8c68c9c-a138-50a6-08e1-d7f10bbdfeba&quot;&gt;Validate that the resource paths advertised through the API conform with HTTP 1.1 and, where appropriate, TLS.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_e0bebb2d-a7e6-accb-36a4-09d1fdcfaed9&quot;&gt;All compliance tests SHALL be configured to use the HTTP 1.1 protocol exclusively.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
</tbody></table>
<h2 id="Metanorma_XML_Syntax">Metanorma XML Syntax</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>XML Line 000026:116</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:124</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:138</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:146</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:164</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:172</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:187</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:195</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:85</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000026:93</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000170:74</code></th>
<td>element "terms" not allowed here; expected the element end-tag or element "admonition", "amend", "annotation", "bookmark", "columnbreak", "dl", "example", "figure",​ "form", "formula", "hr", "imagemap", "note", "ol", "p", "pagebreak", "passthrough", "permission", "pre", "quote", "recommendation", "requirement", "sourcecode", "svgmap",​ "table", "toc" or "ul"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000250:105</code></th>
<td>element "definitions" not allowed here; expected the element end-tag or element "admonition", "amend", "annotation", "bookmark", "columnbreak", "dl", "example", "figure",​ "form", "formula", "hr", "imagemap", "note", "ol", "p", "pagebreak", "passthrough", "permission", "pre", "quote", "recommendation", "requirement", "sourcecode", "svgmap",​ "table", "toc" or "ul"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000365:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000367:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000392:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000396:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000415:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000432:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000448:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000454:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000469:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000482:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000499:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000505:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000511:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000538:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000551:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000567:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000569:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000576:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000593:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000613:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000639:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000657:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000697:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000705:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000724:109</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000745:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000795:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000799:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000815:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000833:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000842:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000856:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000862:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000889:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000896:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000903:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000920:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001216:138</code></th>
<td>attribute "metadata" not allowed here; expected attribute "anchor",​ "columns", "keep-lines-together", "keep-with-next", "key", "multilingual-rendering", "source" or "tag"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001230:125</code></th>
<td>attribute "anchor" not allowed here; expected attribute "class", "columns", "filename", "keep-lines-together", "keep-with-next", "model", "multilingual-rendering", "number",​ "obligation", "subsequence", "tag", "type" or "unnumbered"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001230:339</code></th>
<td>attribute "id" not allowed here; expected attribute "class", "columns", "exclude", "keep-lines-together", "keep-with-next", "multilingual-rendering", "tag" or "type"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001243:112</code></th>
<td>attribute "anchor" not allowed here; expected attribute "class", "columns", "filename", "keep-lines-together", "keep-with-next", "model", "multilingual-rendering", "number",​ "obligation", "subsequence", "tag", "type" or "unnumbered"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001243:313</code></th>
<td>attribute "id" not allowed here; expected attribute "class", "columns", "exclude", "keep-lines-together", "keep-with-next", "multilingual-rendering", "tag" or "type"</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
</body></html>
