<html><head><title>/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.err.html errors</title>
<meta charset="UTF-8"/>
<style> pre { white-space: pre-wrap; }
thead th { font-weight: bold; background-color: aqua; }
.severity0 { font-weight: bold; background-color: lightpink }
.severity1 { font-weight: bold; }
.severity2 { }
.severity3 { font-style: italic; color: grey; }
</style>
</head><body><h1>/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.err.html errors</h1>
<ul><li><p><b><a href="#Document_Attributes">Document Attributes</a></b>: Severity 2: <b>2</b> errors</p></li>

<li><p><b><a href="#AsciiDoc_Input">AsciiDoc Input</a></b>: Severity 1: <b>1</b> errors</p></li>

<li><p><b><a href="#Relaton">Relaton</a></b>: Severity 3: <b>19</b> errors</p></li>

<li><p><b><a href="#Anchors">Anchors</a></b>: Severity 1: <b>6</b> errors</p></li>

<li><p><b><a href="#Style">Style</a></b>: Severity 2: <b>20</b> errors</p></li>

<li><p><b><a href="#Requirements">Requirements</a></b>: Severity 2: <b>4</b> errors</p></li>

<li><p><b><a href="#Metanorma_XML_Syntax">Metanorma XML Syntax</a></b>: Severity 2: <b>47</b> errors</p></li>
</ul>
<h2 id="Document_Attributes">Document Attributes</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>--</code></th>
<td>'Format' is not a permitted subtype of Standard:​ reverting to 'implementation'</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>--</code></th>
<td>draft is not an allowed status for standard</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
<h2 id="AsciiDoc_Input">AsciiDoc Input</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity1">
<td></td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#Bibliography'>Bibliography</a></code></th>
<td>no anchor on reference, markup may be malformed: see
https://www.metanorma.org/author/topics/sections/bibliography/ ,
https://www.metanorma.org/author/iso/topics/markup/#bibliographies
: For citations in the text please use square brackets and consecutive numbers: [1], [2], [3]</td><td><pre>#&lt;Asciidoctor::List@9380 {context: :ulist, style: nil, items: 1}&gt;</pre></td><td>1</td></tr>
</tbody></table>
<h2 id="Relaton">Relaton</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity3">
<td></td><th><code>--</code></th>
<td>Downloaded index from <code>https://​raw.​githubusercontent.com/​relaton/​relaton-data-ogc/main/​index-v1.zip</code></td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>CF Metadata Conventions</code></th>
<td><code>CF Metadata Conventions</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>CF Metadata Conventions</code></th>
<td><code>CF Metadata Conventions</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>GDAL – Geospatial Data Abstraction Library</code></th>
<td><code>GDAL – Geospatial Data Abstraction Library</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>GDAL – Geospatial Data Abstraction Library</code></th>
<td><code>GDAL – Geospatial Data Abstraction Library</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>NetCDF Classic Format</code></th>
<td><code>NetCDF Classic Format</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>NetCDF Classic Format</code></th>
<td><code>NetCDF Classic Format</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGC Compliance Testing Policies and Procedures</code></th>
<td>Not found.</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGC Two Dimensional Tile Matrix Set</code></th>
<td>Not found.</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGCTB12</code></th>
<td><code>OGCTB12</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>OGCTB12</code></th>
<td><code>OGCTB12</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Spatio­Temporal Asset Catalog (STAC) Specification</code></th>
<td><code>Spatio­Temporal Asset Catalog (STAC) Specification</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Spatio­Temporal Asset Catalog (STAC) Specification</code></th>
<td><code>Spatio­Temporal Asset Catalog (STAC) Specification</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Unidata Common Data Model</code></th>
<td><code>Unidata Common Data Model</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Unidata Common Data Model</code></th>
<td><code>Unidata Common Data Model</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v2</code></th>
<td><code>Zarr Specification v2</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v2</code></th>
<td><code>Zarr Specification v2</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v3</code></th>
<td><code>Zarr Specification v3</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
<tr class="severity3">
<td></td><th><code>Zarr Specification v3</code></th>
<td><code>Zarr Specification v3</code> does not have a recognised prefix</td><td><pre></pre></td><td>3</td></tr>
</tbody></table>
<h2 id="Anchors">Anchors</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity1">
<td>000002</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_2ce39656-d035-4f77-b459-d874f4553397'>_2ce39656-d035-4f77-b459-d874f4553397</a></code></th>
<td>Anchor rfc2818 pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;rfc2818&quot; id=&quot;_2ce39656-d035-4f77-b459-d874f4553397&quot;&gt;HTTP over TLS&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>000003</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_60368f06-9294-4c08-ba69-cc10c4d0753f'>_60368f06-9294-4c08-ba69-cc10c4d0753f</a></code></th>
<td>Anchor ats_core_​api-definition-success pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;ats_core_api-definition-success&quot; id=&quot;_60368f06-9294-4c08-ba69-cc10c4d0753f&quot;&gt;/conf/core/api-definition-success&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001137</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0c23ab06-7d02-b1c3-e232-9031a1021f78'>_0c23ab06-7d02-b1c3-e232-9031a1021f78</a></code></th>
<td>Crossreference target ats_core_​api-definition-success is undefined</td><td><pre>&lt;xref target=&quot;ats_core_api-definition-success&quot;&gt;
  &lt;display-text&gt;/conf/core/api-definition-success&lt;/display-text&gt;
&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001156</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_de80a2e2-d71b-df3b-4fc2-d74539ec8410'>_de80a2e2-d71b-df3b-4fc2-d74539ec8410</a></code></th>
<td>Crossreference target rfc2818 is undefined</td><td><pre>&lt;xref target=&quot;rfc2818&quot;&gt;
  &lt;display-text&gt;HTTP over TLS&lt;/display-text&gt;
&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001157</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_38a672ad-67d6-46f2-9331-917a2a4327d3'>_38a672ad-67d6-46f2-9331-917a2a4327d3</a></code></th>
<td>Anchor ats_core_​api-definition-success pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;ats_core_api-definition-success&quot;&gt;/conf/core/api-definition-success&lt;/xref&gt;</pre></td><td>1</td></tr>
<tr class="severity1">
<td>001168</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_052acdb6-8de5-4783-bd33-14b267f8fd96'>_052acdb6-8de5-4783-bd33-14b267f8fd96</a></code></th>
<td>Anchor rfc2818 pointed to by xref is not defined in the document</td><td><pre>&lt;xref xmlns=&quot;https://www.metanorma.org/ns/standoc&quot; target=&quot;rfc2818&quot;&gt;HTTP over TLS&lt;/xref&gt;</pre></td><td>1</td></tr>
</tbody></table>
<h2 id="Style">Style</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td>000256</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_conventions'>_​conventions</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_conventions&quot; obligation=&quot;normative&quot;&gt;
&lt;title&gt;Conventions&lt;/title&gt;
&lt;p id=&quot;_22173e5b-b415-9245-b5a0-658bca9d4ac4&quot;&gt;This section describes the conventions used throughout this Standard, including identifiers, metadata schemas, and referencing mechanisms relevant to the GeoZarr Unified Data Model.&lt;/p&gt;

&lt;clause id=&quot;_identifiers&quot; obligation=&quot;normative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000299</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#overview'>overview</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;overview&quot; obligation=&quot;normative&quot;&gt;
&lt;title&gt;Overview&lt;/title&gt;
&lt;p id=&quot;_c8826110-d9b8-e9dd-8e36-b9fb594d83a1&quot;&gt;The GeoZarr Unified Data Model and Encoding Standard defines a conceptual and implementation framework for representing multidimensional geospatial data using the Zarr format. Developed under the guidance of the OGC GeoZarr Standards Working Group (SWG), the Standard establishes conventions for encoding scientific and Earth observation datasets in a way that promotes scalability, interoperability, and compatibility with cloud-native infrastructure.&lt;/p&gt;

&lt;p id=&quot;_efd90afc-8857-0882-0e90-6a2077accbe9&quot;&gt;GeoZarr is built on widely adopted community standards, including the Unidata Common Data Model (CDM) and Climate and Forecast (CF) Conventions. It introduces additional extensions and structural constructs to support multi-resolution tiling, geospatial referencing, and catalogue-enabled metadata integration (e.g., STAC).&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000366</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_foundational_model_and_standards_reuse'>_​foundational_model_​and_​standards_reuse</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_foundational_model_and_standards_reuse&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Foundational Model and Standards Reuse&lt;/title&gt;
&lt;p id=&quot;_0052e4f1-2435-fa63-6c71-19ee1735834c&quot;&gt;The unified data model described in this Standard is derived from established community specifications to maximise interoperability and to enable the reuse of mature tools and practices. The model is grounded in the Unidata Common Data Model (CDM) and the Climate and Forecast (CF) Conventions, which together provide a robust framework for representing scientific and geospatial datasets.&lt;/p&gt;

&lt;clause id=&quot;_common_data_model_cdm&quot; obligation=&quot;=informative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000422</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_model_extension_points'>_model_​extension_​points</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_model_extension_points&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Model Extension Points&lt;/title&gt;
&lt;p id=&quot;_bcf3633d-b132-be80-9f83-b73ab22ba77e&quot;&gt;The unified data model specifies a series of optional, standards-aligned extension points to support functionality beyond the base CDM and CF constructs. These extensions enhance applicability to Earth observation and spatial analysis use cases without imposing additional mandatory requirements.&lt;/p&gt;

&lt;p id=&quot;_616ac5f3-3eda-b41b-d3fd-e786da6e968e&quot;&gt;Each extension is defined as an independent module. Implementation of any given extension does not necessitate support for others.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000479</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_unified_model_structure'>_unified_​model_​structure</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_unified_model_structure&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Unified Model Structure&lt;/title&gt;
&lt;p id=&quot;_81136920-715d-7323-5ebf-6d6a8770f8e9&quot;&gt;This clause defines the structural organisation of datasets conforming to the unified data model (UDM). It consolidates the foundational elements and optional extensions into a coherent architecture suitable for Zarr encoding, while remaining format-agnostic. The model establishes a modular and extensible framework that supports structured representation of multidimensional, geospatially-referenced resources.&lt;/p&gt;

&lt;p id=&quot;_6056bc82-19b1-b937-4410-d41743363980&quot;&gt;The model represents datasets as abstract compositions of dimensions, coordinate variables, data variables, and associated metadata. This abstraction ensures that applications and services can reason about the content and semantics of a dataset without reliance on storage layout or specific serialisation.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000540</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_overviews'>_​overviews</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_overviews&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Overviews&lt;/title&gt;
&lt;p id=&quot;_690499a4-d6cc-9c15-1e78-501343ba14a6&quot;&gt;The &lt;strong&gt;Overviews&lt;/strong&gt; construct defines a formal, interoperable abstraction for multiscale gridded data. It ensures structural consistency across zoom levels and provides a semantic model for integration with tiled representations such as GeoTIFF overviews, OGC API – Tiles, and STAC Tiled Assets.&lt;/p&gt;

&lt;clause id=&quot;_purpose&quot; obligation=&quot;=informative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000588</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_d196ccb6-f811-24e3-a801-d8bdee03a7dd'>_d196ccb6-f811-24e3-a801-d8bdee03a7dd</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_d196ccb6-f811-24e3-a801-d8bdee03a7dd&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;25%&quot;/&gt; &lt;col width=&quot;75%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Element&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Definition&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt; &lt;tt&gt;OverviewSet&lt;/tt&gt; &lt;/td&gt;
&lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;A logical grouping of variables at multiple zoom levels associated with a single base variable.&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000641</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_conformance_and_extensibility'>_​conformance_and_​extensibility</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_conformance_and_extensibility&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Conformance and Extensibility&lt;/title&gt;
&lt;p id=&quot;_26eb5bf7-6c0f-ff1e-f04a-4974d9ee10d9&quot;&gt;The GeoZarr data model is designed with an open conformance approach to support a wide range of use cases and implementation contexts. Its core model is permissive, allowing partial implementations, while optional extensions and compliance profiles can define stricter requirements for interoperability.&lt;/p&gt;

&lt;clause id=&quot;_core_conformance&quot; obligation=&quot;=informative&quot;&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000702</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_interoperability_considerations'>_​interoperability_​considerations</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_interoperability_considerations&quot; obligation=&quot;=informative&quot;&gt;
&lt;title&gt;Interoperability Considerations&lt;/title&gt;
&lt;p id=&quot;_e4475bdb-1c8c-3213-4ba6-05b67baa30b4&quot;&gt;Interoperability is a core objective of the GeoZarr unified data model. The model is designed to bridge diverse Earth observation and scientific data ecosystems by enabling structural and semantic compatibility with established formats and standards, while providing a forward-looking foundation for scalable, cloud-native workflows.&lt;/p&gt;

&lt;p id=&quot;_a1d606a3-5990-6a9e-342d-087476093c0e&quot;&gt;This section outlines the principles and mechanisms supporting interoperability across formats, tools, and communities.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000775</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_unified_data_model_encoding_for_zarr'>_unified_​data_model_​encoding_​for_zarr</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_unified_data_model_encoding_for_zarr&quot; obligation=&quot;normative&quot;&gt;
&lt;title&gt;Unified Data Model Encoding for Zarr&lt;/title&gt;
&lt;p id=&quot;_6ae92f92-a957-0b55-9f02-1720942d94d6&quot;&gt;This clause defines the encoding of the unified data model into the Zarr format. The encoding supports both Zarr Version 2 and Zarr Version 3.&lt;/p&gt;

&lt;admonition id=&quot;_f58c6d70-eb31-63d5-4e8c-f51be7719936&quot; type=&quot;tip&quot;&gt; &lt;p id=&quot;_a5cfabac-4370-28b0-4343-e63fbb031f11&quot;&gt;This is a very preliminary draft. The content is primarily for demonstrating the purpose of the proposed sections.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000795</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_699b1032-b798-6cfc-a96f-10b11b009b3d'>_699b1032-b798-6cfc-a96f-10b11b009b3d</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_699b1032-b798-6cfc-a96f-10b11b009b3d&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Model Element&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2 Encoding&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3 Encoding&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;Root Dataset&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000845</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_08e3322b-d7f8-1619-85a0-a59c3a029f65'>_08e3322b-d7f8-1619-85a0-a59c3a029f65</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_08e3322b-d7f8-1619-85a0-a59c3a029f65&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Feature&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;Storage&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000888</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_7158974e-3aed-e49a-f43d-51cda128f6c5'>_7158974e-3aed-e49a-f43d-51cda128f6c5</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_7158974e-3aed-e49a-f43d-51cda128f6c5&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Feature&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;Storage&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000920</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44'>_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_9143dbf7-79f4-f9ba-dfd0-f8e5a8f09a44&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Field&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;Location&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000972</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_encoding_of_multiscale_overviews_in_zarr'>_encoding_​of_​multiscale_​overviews_in_​zarr</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_encoding_of_multiscale_overviews_in_zarr&quot; obligation=&quot;normative&quot;&gt;
&lt;title&gt;Encoding of Multiscale Overviews in Zarr&lt;/title&gt;
&lt;p id=&quot;_c2d034fa-06d8-7389-6263-baf5c664dd26&quot;&gt;This clause specifies how multiscale tiling (also known as overviews or pyramids) is encoded in Zarr-based datasets conforming to the unified data model. The encoding supports both Zarr Version 2 and Version 3 and is aligned with the OGC Two Dimensional Tile Matrix Set Standard.&lt;/p&gt;

&lt;p id=&quot;_205549f0-9ca3-d2b7-970c-39185396481f&quot;&gt;Multiscale datasets are composed of a set of Zarr groups representing multiple zoom levels. Each level stores coarser-resolution resampled versions of the original data variables.&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>000982</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_b789f377-6e18-5a5b-fcde-99b1a147a92f'>_b789f377-6e18-5a5b-fcde-99b1a147a92f</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_b789f377-6e18-5a5b-fcde-99b1a147a92f&quot;&gt; &lt;colgroup&gt; &lt;col width=&quot;20%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;col width=&quot;40%&quot;/&gt; &lt;/colgroup&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Structure&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v2&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zarr v3&lt;/th&gt;
&lt;/tr&gt; &lt;/thead&gt;
&lt;tbody&gt; &lt;tr&gt; &lt;td valign=&quot;middle&quot; align=&quot;left&quot;&gt;Zoom level groups&lt;/td&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001001</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_metadata_encoding'>_metadata_​encoding</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_metadata_encoding&quot; obligation=&quot;normative&quot;&gt;
&lt;title&gt;Metadata Encoding&lt;/title&gt;
&lt;p id=&quot;_be88770d-5c25-b94b-b778-0af88b2c5ed2&quot;&gt;Multiscale metadata SHALL be defined using a &lt;tt&gt;multiscales&lt;/tt&gt; attribute located in the parent group of the zoom levels. This attribute SHALL be a JSON object with the following members:&lt;/p&gt;

&lt;ul id=&quot;_1e2cadac-60ef-0ade-726a-aaf464fc351c&quot;&gt; &lt;li&gt; &lt;p id=&quot;_5ec319ed-0ebd-1eee-afbf-be257f11c86e&quot;&gt; &lt;tt&gt;tile_matrix_set&lt;/tt&gt; – Identifier, URI, or inline JSON object compliant with OGC TileMatrixSet v2&lt;/p&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001101</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_conformance_class_abstract_test_suite_normative'>_​conformance_class_​abstract_​test_suite_​normative</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;annex id=&quot;_conformance_class_abstract_test_suite_normative&quot; obligation=&quot;informative&quot;&gt;
&lt;title&gt;Conformance Class Abstract Test Suite (Normative)&lt;/title&gt;
&lt;note id=&quot;_63e4b0a0-3d94-7020-361f-fcac21929de5&quot;&gt; &lt;p id=&quot;_e3b4abfb-677c-1601-a95d-8eb60217c3f8&quot;&gt;Ensure that there is a conformance class for each requirements class and a test for each requirement (identified by requirement name and number)&lt;/p&gt;
&lt;/note&gt;
</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001106</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_conformance_class_a'>_​conformance_class_​a</a></code></th>
<td>Hanging paragraph in clause</td><td><pre>&lt;clause id=&quot;_conformance_class_a&quot; obligation=&quot;informative&quot;&gt;
&lt;title&gt;Conformance Class A&lt;/title&gt;
&lt;example id=&quot;ats_example1&quot;&gt; &lt;dl id=&quot;_fa108c24-174e-27a5-3e43-bc68770851c7&quot; metadata=&quot;true&quot;&gt; &lt;dt&gt;label&lt;/dt&gt;
&lt;dd&gt; &lt;p id=&quot;_a09ba113-0a5c-5368-7189-ce71d132fd24&quot;&gt; &lt;link target=&quot;http://www.opengis.net/spec/name-of-standard/1.0/conf/example1&quot;/&gt; &lt;/p&gt;
&lt;/dd&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001170</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#_0faf00c7-cf79-9959-f614-3126c05f4ab8'>_0faf00c7-cf79-9959-f614-3126c05f4ab8</a></code></th>
<td>Table should have title</td><td><pre>&lt;table id=&quot;_0faf00c7-cf79-9959-f614-3126c05f4ab8&quot; width=&quot;90%&quot;&gt; &lt;thead&gt; &lt;tr&gt; &lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Date&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Release&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Editor&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Primary clauses modified&lt;/th&gt;
&lt;th valign=&quot;middle&quot; align=&quot;left&quot;&gt;Description&lt;/th&gt;</pre></td><td>2</td></tr>
</tbody></table>
<h2 id="Requirements">Requirements</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td>001122</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_api-definition-op'>ats_core_​api-definition-op</a></code></th>
<td>Conformance test ats_core_​api-definition-op has no corresponding Conformance class
</td><td><pre>&lt;requirement id=&quot;ats_core_api-definition-op&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-1&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/api-definition-op&lt;/value&gt; &lt;/classification&gt; &lt;component class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_79add0f5-5973-1075-d8a2-b8851cb3d597&quot;&gt;Validate that the API Definition document can be retrieved from the expected location.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_2fc764d4-9e20-d745-b518-641c4591a7c1&quot;&gt;Construct a path for the API Definition document that ends with &lt;tt&gt;/api&lt;/tt&gt;.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001122</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_api-definition-op'>ats_core_​api-definition-op</a></code></th>
<td>Conformance test ats_core_​api-definition-op has no corresponding Requirement
</td><td><pre>&lt;requirement id=&quot;ats_core_api-definition-op&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-1&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/api-definition-op&lt;/value&gt; &lt;/classification&gt; &lt;component class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_79add0f5-5973-1075-d8a2-b8851cb3d597&quot;&gt;Validate that the API Definition document can be retrieved from the expected location.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_2fc764d4-9e20-d745-b518-641c4591a7c1&quot;&gt;Construct a path for the API Definition document that ends with &lt;tt&gt;/api&lt;/tt&gt;.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001143</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_http'>ats_core_​http</a></code></th>
<td>Conformance test ats_core_​http has no corresponding Conformance class
</td><td><pre>&lt;requirement id=&quot;ats_core_http&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-2&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/http&lt;/value&gt; &lt;/classification&gt; &lt;component class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_d8c68c9c-a138-50a6-08e1-d7f10bbdfeba&quot;&gt;Validate that the resource paths advertised through the API conform with HTTP 1.1 and, where appropriate, TLS.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_e0bebb2d-a7e6-accb-36a4-09d1fdcfaed9&quot;&gt;All compliance tests SHALL be configured to use the HTTP 1.1 protocol exclusively.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
<tr class="severity2">
<td>001143</td><th><code><a href='/__w/geozarr-spec/geozarr-spec/_site/documents/standard/template/geozarr-spec.html#ats_core_http'>ats_core_​http</a></code></th>
<td>Conformance test ats_core_​http has no corresponding Requirement
</td><td><pre>&lt;requirement id=&quot;ats_core_http&quot; model=&quot;ogc&quot; type=&quot;abstracttest&quot;&gt; &lt;subject&gt;/req/req-class-a/req-name-2&lt;/subject&gt; &lt;classification&gt; &lt;tag&gt;label&lt;/tag&gt; &lt;value&gt;/conf/core/http&lt;/value&gt; &lt;/classification&gt; &lt;component class=&quot;test-purpose&quot;&gt; &lt;p id=&quot;_d8c68c9c-a138-50a6-08e1-d7f10bbdfeba&quot;&gt;Validate that the resource paths advertised through the API conform with HTTP 1.1 and, where appropriate, TLS.&lt;/p&gt;
&lt;/component&gt;

&lt;component exclude=&quot;false&quot; class=&quot;test method&quot;&gt; &lt;component exclude=&quot;false&quot; class=&quot;step&quot;&gt; &lt;p id=&quot;_e0bebb2d-a7e6-accb-36a4-09d1fdcfaed9&quot;&gt;All compliance tests SHALL be configured to use the HTTP 1.1 protocol exclusively.&lt;/p&gt;
&lt;/component&gt;</pre></td><td>2</td></tr>
</tbody></table>
<h2 id="Metanorma_XML_Syntax">Metanorma XML Syntax</h2>
<table border="1">
<thead><th width="5%">Line</th><th width="20%">ID</th>
<th width="30%">Message</th><th width="40%">Context</th><th width="5%">Severity</th></thead>
<tbody>
<tr class="severity2">
<td></td><th><code>XML Line 000022:116</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:124</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:138</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:146</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:164</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:172</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:187</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:195</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:85</code></th>
<td>text not allowed here; expected element "taxon" or "vocab"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000022:93</code></th>
<td>element "keyword" incomplete; missing required element "taxon"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000165:59</code></th>
<td>element "terms" not allowed here; expected the element end-tag or element "admonition", "amend", "bookmark", "columnbreak", "dl", "example", "figure",​ "form", "formula", "hr", "imagemap", "note", "ol", "p", "pagebreak", "passthrough", "permission", "pre", "quote", "recommendation", "requirement", "review",​ "sourcecode", "svgmap",​ "table", "toc" or "ul"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000245:86</code></th>
<td>element "definitions" not allowed here; expected the element end-tag or element "admonition", "amend", "bookmark", "columnbreak", "dl", "example", "figure",​ "form", "formula", "hr", "imagemap", "note", "ol", "p", "pagebreak", "passthrough", "permission", "pre", "quote", "recommendation", "requirement", "review",​ "sourcecode", "svgmap",​ "table", "toc" or "ul"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000360:60</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000362:59</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000387:80</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000391:63</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000410:56</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000427:68</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000443:64</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000449:88</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000464:103</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000477:78</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000494:73</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000500:65</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000506:59</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000533:64</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000546:62</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000561:51</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000565:49</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000580:62</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000605:58</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000638:73</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000645:55</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000662:71</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000666:58</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000682:63</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000700:61</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000709:66</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000723:73</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000729:70</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000756:67</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000763:76</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000770:68</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 000787:69</code></th>
<td>value of attribute "obligation" is invalid; must be equal to "informative" or "normative"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001136:91</code></th>
<td>attribute "metadata" not allowed here; expected attribute "columns", "keep-lines-together", "keep-with-next", "key", "multilingual-rendering" or "tag"</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001157:192</code></th>
<td>IDREF "ats_​core_api-definition-success" without matching ID</td><td><pre></pre></td><td>2</td></tr>
<tr class="severity2">
<td></td><th><code>XML Line 001168:188</code></th>
<td>IDREF "rfc2818" without matching ID</td><td><pre></pre></td><td>2</td></tr>
</tbody></table>
</body></html>
